body {
  overflow-y: hidden;
  overflow-x: hidden;
}

#pokebola {
  position: relative;
  margin-top: 60px;
  left: 190px;
  width: 17%;

  /* Animação */
  -webkit-animation: scale-up-center 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-center 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  /* Animação */
}
#trasforms {
  position: relative;
  left: 560px;
  top: -400px;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

#AjustDesign {
  position: relative;
  left: 40%;
  top: 400px;
  width: 300px;
  height: 300px;
}

#mortes{
  position: relative;
  left: 750px;
  top: -453px;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}
.description {
  width: 50%;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  left: 520px;
  top: -200px;

  /* Animação */
  -webkit-animation: scale-up-center 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-center 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  /* Animação */
 }

#img {
  width: 20%;
  position: relative;
  top: -200px;
  left: 50px;
}

#description{
  position: relative;
  left: 560px;
  top: -500px;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

#description-pt2{
  position: relative;
  left: 560px;
  top: -470px;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

 .span{
   color: red;
 }



 /* Animação */
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* Animação */
