*{ 
  margin: 0 auto;
}

body{
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Class */
.main{
  background-color:#2c2f33;
  border-radius: 15px ;
  width: 50rem;
  height: 45rem;
  border: 1px solid gray;
}

.produto{
  background-color: gray;
  border-radius: 15px ;
  margin-top: 10px;
  width: 45rem;
  height: 5rem;
}

.sections{
  background-color: gray;
  border-radius: 15px ;
  text-align: center;
  position: relative;
  margin-top: 10px;
  left: -11rem;
  width: 25rem;
  height: 3rem;
  border: 1px solid gray;
}
.values {
  margin-top: 0.9rem;
  font-size: 20px;
}
/* End Class */


/* Ids */
#productPrice {
  font-size: 25px;
position: absolute;
  margin-top: 43px;
  margin-left: 34rem;

}

#productPrice2 {
  font-size: 25px;
  position: absolute;
  margin-top: 43px;
  margin-left: 39rem;

}

#troco {
  margin-top: 0.9rem;
  font-size: 26px;
  line-height: 20px;
}

#pago {
  position: relative;
  text-align: center;
  margin-top: 30px;
  margin-left: 50px;
  background-color: gray;
  color: white;
  width: 20rem;
  height: 40px;
  border-radius: 5px;
}


#pesquisar {
  font-size: 16px;
  background-color: gray;
  border-radius: 5px ;
  width: 20rem;
  height: 40px;
  border: none;
  text-align: center;
}

#form {
  position: relative;
  top: 50%;
  left: 27%;
}

#productName {
  font-size: 50px;
  text-align: justify;
  margin-left: 40px;
}

#botao {
  font-size: 16px;
  border-radius: 5px ;
  width: 5.5rem;
  height: 30px;
  text-align: center;
}

/* End Ids */


textarea:focus, input:focus, select:focus {
  outline: 0;
}

::-webkit-input-placeholder {
  color: black;
}